@charset "utf-8";

// Import a Google Font
// @import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// LAYOUT
$section-padding: 3rem 1.5rem;
$section-padding-medium: 6rem 1.5rem;
$section-padding-large: 9rem 1.5rem;

// COLORS

$primary: #851de0;
$white-grey: #eeeeee;
$konpit-white: #ffffff;

// BODY COLORS
$body-background-color: $white-grey;

// TABS
$tabs-link-color: $white-grey;
$tabs-link-hover-border-bottom-color: $konpit-white;
$tabs-link-hover-color: $konpit-white;
$tabs-link-active-color: $konpit-white;
$tabs-link-active-border-bottom-color: $konpit-white;

$tabs-border-bottom-color: $primary;
$tabs-border-bottom-width: 3px;

// Update some of Bulma's component variables
// Import only what you need from Bulma
@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/elements/button.sass";
@import "node_modules/bulma/sass/elements/container.sass";
@import "node_modules/bulma/sass/elements/title.sass";
@import "node_modules/bulma/sass/elements/table.sass";
@import "node_modules/bulma/sass/form/_all.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
@import "node_modules/bulma/sass/components/card.sass";
@import "node_modules/bulma/sass/components/tabs.sass";
@import "node_modules/bulma/sass/components/level.sass";
@import "node_modules/bulma/sass/layout/hero.sass";
@import "node_modules/bulma/sass/layout/section.sass";
@import "node_modules/bulma/sass/grid/_all.sass";
